html,
body,
#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.tabler-icon {
  width: 18px;
  height: 18px;
}

.mantine-RichTextEditor-content table td {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
}

.mantine-RichTextEditor-content table {
  table-layout: fixed;
}

math-field::part(virtual-keyboard-toggle),
math-field::part(menu-toggle) {
  display: none;
}

.mantine-Checkbox-input,
.mantine-Checkbox-label {
  cursor: pointer;
}

code[data-kind="typstCode"] {
  border: 1px solid pink;
}

math-field {
  background-color: transparent;
  color: var(--mantine-color-blue-7);
}

.mathBlock math-field:empty {
  padding-right: 7.5px;
  padding-left: 7.5px;
}
.mathInline math-field:empty {
  padding-right: 5px;
  padding-left: 5px;
}

math-field:not(:empty) {
  border: none;
}

math-field::part(container) {
  padding: 0px;
}

.status-bar * {
  user-select: none;
}

.status-bar-item {
  display: flex;
  align-items: center;
}

.mantine-RichTextEditor-root,
.mantine-RichTextEditor-content,
.mantine-RichTextEditor-content > .tiptap {
  height: 100%;
}

.mantine-RichTextEditor-root {
  display: flex;
  flex-direction: column;
}

.mantine-RichTextEditor-typographyStylesProvider {
  flex-grow: 1;
}
