html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(31, 31, 31);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.tabler-icon {
  width: 18px;
  height: 18px;
}

.mantine-RichTextEditor-content table td {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
}

.mantine-RichTextEditor-content table {
  table-layout: fixed;
}

math-field::part(virtual-keyboard-toggle),
math-field::part(menu-toggle) {
  display: none;
}

.mantine-Checkbox-input {
  cursor: pointer;
}

code[data-kind="typstCode"] {
  border: 1px solid pink;
}

.poc {
  width: 90vw;
  height: 90vh;
  margin: 5vh 5vw;
}

g[data-typst-label="tyx-edit-box"] {
  cursor: pointer;
  pointer-events: all;
}

g[data-typst-label="tyx-edit-box"] path {
  transition: stroke 0.2s ease-in-out;
}

g[data-typst-label="tyx-edit-box"]:hover path {
  stroke: #158bb8;
}
