html,
body,
#root {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.tabler-icon {
  width: 18px;
  height: 18px;
}

.mantine-RichTextEditor-content table td {
  border-width: 1px;
  border-style: solid;
  border-color: #666666;
}

.mantine-RichTextEditor-content table {
  table-layout: fixed;
}
